<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                NPrail Downloads <small>Portal</small>
            </h1>
            {{#each items as |item itemId|}}
            <div class="col-md-4">
                <a href="/downloads/{{itemId}}">
                    <div class="well">
                        {{item.name}} {{#if item.locked}}<i class="fa fa-fw fa-lock"></i>{{/if}}
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <!-- /.row -->


</div>